@model IEnumerable<FBChecklist.Solaris>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Infrastructure</a>
            </li>

            <li class="active">Solaris Disk Statistics</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>
    <div class="page-content">
        <div class="ace-settings-container" id="ace-settings-container">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                <i class="ace-icon fa fa-cog bigger-130"></i>
            </div>

            <div class="ace-settings-box clearfix" id="ace-settings-box">
                <div class="pull-left width-50">
                    <div class="ace-settings-item">
                        <div class="pull-left">
                            <select id="skin-colorpicker" class="hide">
                                <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                            </select>
                        </div>
                        <span>&nbsp; Choose Skin</span>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                        <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                        <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                        <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                        <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                        <label class="lbl" for="ace-settings-add-container">
                            Inside
                            <b>.container</b>
                        </label>
                    </div>
                </div><!-- /.pull-left -->

                <div class="pull-left width-50">
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                        <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                        <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                        <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                    </div>
                </div><!-- /.pull-left -->
            </div><!-- /.ace-settings-box -->
        </div><!-- /.ace-settings-container -->
        <div class="page-header">
            <h1>Solaris Servers Disk Statistics</h1>
        </div>
        @*<p>

            @Html.ActionLink("Add New", "Create", "Servers", new { @class = "btn btn-primary" })
        </p>*@
        <div class="hr hr-16 hr-dotted"></div>
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <div class="user-profile row">
                        <div class="col-sm-offset-1 col-sm-8">
                            <form class="form-horizontal">
                                <div class="tabbable">
                                    <div class="tab-content profile-edit-tab-content">
                                        <div id="edit" class="tab-pane in active">
                                            <div class="row">
                                                <div class="col-xs-12">

                                                    <div class="clearfix">
                                                        <div class="pull-right tableTools-container"><div class="dt-buttons btn-overlap btn-group"><a class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title=""><span><i class="fa fa-search bigger-110 blue"></i> <span class="hidden">Show/hide columns</span></span></a><a class="dt-button buttons-copy buttons-html5 btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title=""><span><i class="fa fa-copy bigger-110 pink"></i> <span class="hidden">Copy to clipboard</span></span></a><a class="dt-button buttons-csv buttons-html5 btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title=""><span><i class="fa fa-database bigger-110 orange"></i> <span class="hidden">Export to CSV</span></span></a><a class="dt-button buttons-print btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title=""><span><i class="fa fa-print bigger-110 grey"></i> <span class="hidden">Print</span></span></a></div></div>
                                                    </div>

                                                    <div class="table-header">
                                                        Results for "Solaris Disk Space"
                                                    </div>

                                                    <table id="simple-table" class="table  table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Filesystem</th>
                                                                <th>1024-blocks</th>
                                                                <th>Used</th>
                                                                <th>Available</th>
                                                                <th>Capacity</th>
                                                                <th>Mounted On</th>
                                                               
                                                                <th>Platform</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @if (Model.Count() <= 0)
                                                            {
                                                                <tr> <td colspan="3"> No record found </td> </tr>
                                                            }

                                                            else
                                                            {

                                                                foreach (var item in Model)
                                                                {
                                                                <tr>
                                                                    <td>@Html.DisplayFor(modelItem => item.Filesystem) </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Blocks) </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Used) </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Available)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Capacity) </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Mount)</td>
                                                                   
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Application.ApplicationName)
                                                                    </td>
                                                                    @*<td>

            @Html.ActionLink("Update", "Edit", new { id = item.ServerId })

        </td>*@

                                                                </tr>

                                                                }
                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/assets2/js/jquery.dataTables.min.js")
    @Scripts.Render("~/assets2/js/jquery.dataTables.bootstrap.min.js")
    @Scripts.Render("~/assets2/js/dataTables.buttons.min.js")
    @Scripts.Render("~/assets2/js/buttons.flash.min.js")
    @Scripts.Render("~/assets2/js/buttons.html5.min.js")
    <script>
        $(document).ready(function () {

            $("#simple-table").DataTable();
        });
    </script>
}