@model IEnumerable<FBChecklist.BizTalk>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransportType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivePort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceiveHandler)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstanceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Application1.ApplicationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Server.ServerIp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransportType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivePort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiveHandler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstanceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RunDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application1.ApplicationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Server.ServerIp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
